data
assets
workdir
__pycache__/
**__pycache__/
*.out
out/
models/
models
vae_models
old_models
out_images
debug_images/
debug_noise/
outputs/
debug_latents/
pruebas/
downloads/
work_scratch_out_images
scratch-pw2
FinetuneVAE-SD/sd_model
FinetuneVAE-SD/sd_model/
!FinetuneVAE-SD/ldm/models
!FinetuneVAE-SD/ldm/data
FinetuneVAE-SD/vae_finetune/
FinetuneVAE-SD/vae_finetune
FinetuneVAE-SD/lightning_logs/
# Default ignored files
wandb/
pangaea.egg-info/
*.pth
results/
metadata-parquets/
testgrid_100km.geojson
testlines_100km.geojson
lmdb_visualise_debug_out/
lmdb_visualise_debug_out_train/
collected_pngs/
helpers/test_set/imgs/coverage.html
# Pangaea outputs
/2025*/
# others
models_balduran
data_balduran
paper_figures/paper_figures_datasets
paper_figures/ne_50m_ocean.zip
paper_figures/ne_50m_lakes.zip
paper_figures/ne_110m_admin_0_countries.zip
paper_figures/ppp_2020_1km_Aggregated.tif
paper_figures/lat-lon-thumbnails/
paper_figures/spectral_profiles/
paper_figures/treecover_cache/
paper_figures/population_cache/
paper_figures/world.topo.bathy.200412.3x21600x10800.jpg